.admin{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.admin-product{
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}

.admin-product th{
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    
}
.admin-product tr{
    border: 1px solid black;
    height: 50px;
}
.admin-product-img{
    width: 100px;
    height: 50px;
   
}
.admin-product-img img{
    height: 100%;
}
.main-addproduct{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 20%;
}
.main-addproduct .form-addproduct{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.main-addproduct .form-addproduct input{
width: 90%;
height: 30px;
margin: 15px;
}